@font-face {
    font-family: 'Modenine';
    src: url('../fonts/ModeNine.woff2') format('woff2'),
        url('../fonts/ModeNine.woff') format('woff'),
        url('../fonts/ModeNine.svg#ModeNine') format('svg'),
        url('../fonts/MODENINE.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DOS';
    src: url('../fonts/PerfectDOSVGA437.woff2') format('woff2'),
        url('../fonts/PerfectDOSVGA437.woff') format('woff'),
        url('../fonts/PerfectDOSVGA437.svg#PerfectDOSVGA437') format('svg'),
        url('../fonts/DOS.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}

#terminal_welcome {
    background-color: black;
}
.card {
    margin: auto;
    min-width: 350px;
    transition: 0.5s;
    animation-name: zheanel;
    animation-duration: 90s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

.card:hover {
    background-color: #81c6e9;
    transition: 0.5s;
}

.container {
    display: flex;
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    justify-content: center;
    align-items: center;
}

h6 {
    font-family: "DOS", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    color:#adff2f;
}
h6 span {
    color:#adff2f;
}

h3 {
    margin: 10px auto;
    font-family: "Modenine", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    display:flex;
}

.circle {
    border-radius: 50%;
}

@keyframes zheanel {
    100% {
        box-shadow: 0px 0px 28px #41c1d7;
    }
    50% {
        box-shadow: 0px 0px 24px #5586ff;
    }
    1% {
        box-shadow: 0px 0px 28px #393cf3;
    }
}

.btn:hover {
    background-color: #25279e;
    color:white;
}

footer {
    color:white;
    transition: 0.5s;
}

.hearth:hover {
    color:red;
    animation-name: pulse;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    1% {
        transform: scale(1.5);
        transition: 0.5s;
    }
    20% {
        transform: scale(1.0);
        transition: 0.5s;
    }
    40% {
        transform: scale(1.5);
        transition: 0.5s;
    }
    60% {
        transform: scale(1.0);
        transition: 0.5s;
    }
    80% {
        transform: scale(1.5);
        transition: 0.5s;
    }
    100% {
        transform: scale(1.0);
        transition: 0.5s;
    }
}

.blink {
    animation:blink 700ms infinite alternate;
}

@keyframes blink {
    from { opacity:1; }
    to { opacity:0; }
};
